

@import
  'utility/variables',
  'utility/typography',
  'utility/global-style';

@import
  'components/banner-carouse-slider',
  'components/blogs',
  'components/breadcrumbs',
  'components/counter-details',
  'components/client-logo-slider',
  'components/footer',
  'components/single',
  'components/type-of-header',
  'components/text-list',
  'components/text-cta-box',
  'components/image-text',
  'components/column-wise-comonents',
  'components/services',
  'components/image-slider',
  'components/three-column-components',
  'components/contact-form',
  'components/video-text.scss',
  'components/count-down.scss',
  'components/two-col-text-contact-form',
  'components/four-column-components'; 