/* Clients Section
--------------------------------*/

#clients {
    padding: 30px 0;
    margin-top: 30px;
    background-color: $primary;
    color: $web-white;
    h2 {
        color: $web-white;
        margin-bottom: 30px;
    }
    img {
        max-width: 90%;
        opacity: 0.9;
        border: 2px solid $secondary;
        background-color: $web-white;
        transition: 0.3s;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        padding: 15px 0;
    }
    img:hover {
        opacity: 1;
        border: 2px solid $secondary;
    }
    .owl-nav, .owl-dots {
        margin-top: 20px;
        text-align: center;
    }
    .owl-dot {
        display: inline-block;
        margin: 0 5px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #ddd;
    }
    .owl-dot.active {
        background-color: #50d8af;
    }
    p {
        margin-bottom: 20px;
    }
}