.column-wise-components {
    .box {
        margin: 10px 0px;
    }
    img{
        width: 100%;
    }
    
    .comptitle {    
        color: $primary;
        position: relative;
        padding-bottom: 3px;
        margin-bottom: 24px;
    }
    .comptitle::before {
        content: '';
        position: absolute;
        display: block;
        width: 100px;
        height: 3px;
        background:$secondary;
        bottom: 0;
        left: 0;
      }
    h3 {
        margin: 15px 0px;
    }

}