#contdown-section
{
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: $primary;
    color: $web-white;
    .col-sm-counter {
        max-width: 66%;
        margin: 0px auto;
        .countdown {
            font-size: 24px;
            text-align: center;
            margin: 0px auto;
            font-weight: bold;
            padding: 20px 0px;
            border-radius: 8px; 
            .counter-sec-background{
                text-align: center; 
                background-color: $web-black;
                color: $web-white;
                border-radius: 4px;
                padding: 20px 20px;
            } 
        } 
    }
}

@media(max-width:768px)  
{ 
    .countdown-item {
        padding: 10px !important;
        font-size: 20px !important; 
    }

}
