.four-coloumn-components {
    h3 {
        padding: 20px 0px 5px;
    }
    .comptitle h2 {
        padding-bottom: 30px;
    }
    img {
        border: 2px solid $primary;
    }
    .itembackground {
        background: $primary;
        color:$web-white;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        .btn {
            border: 2px solid white !important;
        }
    }
}
