.four-coloumn-components {
    h3 {
        margin: 20px 0px 5px;
    }
    .comptitle h2 {
        margin-bottom: 30px;
    }
    img {
        border-radius: 10px;
        border: 2px solid $primary;
    }
}
