.three-coloumn-components {
    .box {
        margin: 10px 0px;
    }
    img{
        width: 100%;
    }
    
    .comptitle {    
        padding-bottom: 3px;
        margin-bottom: 24px;
        
    }
    h2 {
        color: $primary;
        span {
            position: relative;
        }
        span::before {
            content: '';
            position: absolute;
            display: block;
            width: 100px;
            height: 3px;
            background:$secondary;
            bottom: -5px;
            left: 0;
        }
    }
    h3 {
        padding-top:20px;
    }
    p {
        margin: 0px;
    }

    .itembackground {
        background: $primary;
        color:$web-white;
        padding-left: 10px;
        padding-right: 10px;
        .btn {
            border: 2px solid white !important;
        }
    }

   .btn {
        margin: 20px 0px;
    }

}