/*Theme Color*/
$dark-blue:                     #af6203;
$dark-green:                    #9c0202;
/*************/

$black-grey:                    #2c2c2b;
$web-black:                     #000;
$web-white:                     #FFFFFF;

$primary-opacity:               #36567496;
$secondary-opacity:             #a6ad1d59; 

$primary:                       $dark-blue;
$secondary:                     $dark-green;
$tertiary:                      #F1F1F1;

$primary-hover:                 #384756;
$secondary-hover:               #82871a;  

/***** Override SASS colour *****/
$info:                          $primary;
$light:                         #F2F3F6;
/***** End Override SASS colour *****/

$enable-rounded:                false;

$visited-link:                  $secondary; // #884488 - default https://webaim.org/blog/wcag-2-0-and-link-colors/

$line-height-base:                1.6;

$font-size-base:                  1rem;
$h1-font-size:                	  45px;/**2.77778em;$font-size-base * 1.9;**/
$h2-font-size:                	  20px; /**1.33333em;$font-size-base * 1.7;**/
$h3-font-size:                	  15px;/**$font-size-base * 1.4;**/
$h4-font-size:                	  20px;/**$font-size-base * 1.2;**/
$h5-font-size:                	  18px;/**$font-size-base * 1;**/
$h6-font-size:                	  16px;/**$font-size-base * 1;**/

$grid-columns:      12;
$grid-gutter-width: 1.5rem;

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px
);

$container-max-widths: (
  sm: 420px,
  md: 720px,
  lg: 960px
);